<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('?lang=' + selectedOption);
        }
    });
});
</script>
<body>
<div class="header-container"> 
   <div class="header-bar">
      <th:block sec:authorize="isAuthenticated()">
         <h4 th:text="#{usernamehello}"></h4>
         <h4 th:inline="text"> [[${#httpServletRequest.remoteUser}]]</h4>
         <a th:href="@{/logout}">Logout</a>
      </th:block>
   </div>
  <span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="lt" th:text="#{lang.lt}"></option>
    
</select>
</div>
</body>
</html>