<!DOCTYPE html>
<html>
<head>
<title>Suppliers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="css/styles.css" rel="stylesheet" />
</head>
<body>
	<form class="form-control" action="#"
		th:action="@{/products/update/{id}(id=${product.id})}" th:object="${product}"
		method="post">
		<label for="name">Name</label> <input type="text" th:field="*{name}"
			id="name" placeholder="Name"> <span
			th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> 
		<label	for="description">Description</label> <input type="text" th:field="*{description}"
			id="description" placeholder="Description"> <span
			th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span> 
		<label for="location">Location</label> <input type="text" th:field="*{location}"
			id="location" placeholder="Location"> <span
			th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>
		<label	for="price">Price</label> <input type="number" step="0.01" th:field="*{price}"
			id="price" placeholder="Price"> <span
			th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span> 
		<label for="barcode">Barcode</label> <input type="text" th:field="*{barcode}"
			id="barcode" required minlength="13" maxlength="13" placeholder="barcode"> <span
			th:if="${#fields.hasErrors('barcode')}" th:errors="*{barcode}"></span>
		<input
			type="submit" value="Update Product">
	</form>
</body>
</html>
